/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente y fondo */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8be;
}

/* Contenedor principal */
.container {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin: 10px 0;
  color: rgb(86, 86, 86);
}

/* Formularios */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Botones */
button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #2d89ef;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1b5fbf;
}

/* Lista */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.item span {
  flex: 1;
}

/* Botones secundarios */
.btn-delete {
  background-color: #e74c3c;
}

.btn-delete:hover {
  background-color: #c0392b;
}

/* Separadores */
.section {
  margin-bottom: 30px;
}

p{
  margin: 5px;
  padding-bottom: 1px;
}